html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --beige1: hsl(23, 34%, 93%);
    --beige2: hsl(24, 37%, 99%);
    background-color: #f1f1f1;
}
a:hover {
    text-decoration: underline;
}
figcaption {
    text-align: center;

    color: #555
}
main {}
.hero {
    .heroImage {
        background: linear-gradient(0deg, #f1f1f1 10%, #f1f1f100),
            linear-gradient(90deg, #f1f1f1 0%, #f1f1f100),
            url("./src/pexels-itsehsanh-18765298.jpg");
        height: 100vh;
    }
    .heroText {
        text-align: center;
        position: absolute;
        bottom: 15%;
        left: 0;
        width: 40%;
        line-height: 0;
        color: #111;
        & h2 {
            text-transform: none;
            font-family: Consolas, 'Courier New', Courier, monospace;
            font-size: 7rem;
        }
        & p {
            color: #444;
            font-size: 2rem;
        }
    }
}
body * {
    /* border: 1px dotted; */
}
.topNav {
    background-color: #f1f1f1;
    height: 4rem;
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: #444;
    border-top: 3px solid hsl(39, 100%, 44%);
    border-bottom: 3px solid hsl(39, 100%, 44%);
    & a {
        height: 100%;
        align-content: center;
        text-align: center;
        width: 10%;
        margin: 1vw;
        &:hover {
            background-color: #ddd;
        }
    }
}
.projects {
    margin: auto;
    display: grid;
    width: 100%;
    grid-template-columns: minmax(0, 360px) minmax(400px, 800px) minmax(0, 360px);
    & img {
        border: #666 1px solid;
    }
    & .project {
        margin-bottom: 5rem;
        padding: 0 1vw;
    }
    & ul {
        list-style: disc;
        margin: 0.5rem 2rem;
    }
    & .leftCol {
        padding: 0 2vw;
        & .pageTitles {
            position: sticky;
            z-index: 1;
            top: 30%;
            display: flex;
            flex-direction: column;
            & a {
                width: 100%;
                padding: 1rem;
                padding-left: 20%;
                transition: background-color 500ms;
                &:hover {
                    background-color: #aaa;
                    text-decoration: none;
                }
            }
        }
    }
    & .rightCol {}
    & .midCol {
        border-right: 2px solid hsl(44, 67%, 64%);
        border-left: 2px solid hsl(44, 67%, 64%);
        & p {
            text-indent: 2.5rem;
            margin: 0.5rem;
        }
    }
}