html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
    scroll-behavior: smooth;
}
a {
    display: inline-block;
}
a:hover {
    text-decoration: underline;
}
figcaption {
    text-align: center;
    color: #555
}
.hero {}
.heroImage {
    background: linear-gradient(0deg, #f1f1f1, #f1f1f125),
        linear-gradient(90deg, #f1f1f1, #f1f1f125),
        url("./src/pexels-itsehsanh-18765298.jpg") fixed;
    height: calc(100vh - 4rem);
    position: relative;
}
.heroText {
    z-index: 2;
    color: #111;
    text-align: center;
    bottom: 14%;
    left: 4%;
    position: absolute;
    & h2 {
        padding: 0;
        text-transform: none;
        font-family: Consolas, 'Courier New', Courier, monospace;
        font-size: 7rem;
        line-height: 0.8;
        color: #ff8400;
        color: #222;

    }
    & p {
        /* margin-left: 30px; */
        color: #ff911c;
        color: #444;
        font-size: 2rem;
    }
}
body * {
    /* border: 1px dotted; */
}
main {
/* background: linear-gradient(0deg,#fffc , #fffc, #fffc ,#fffc), url("./src/pexels-itsehsanh-18765298.jpg");     */
background: linear-gradient(90deg,#fffd 0%,#fffd 10% , #fff8 ,#fff9), url("./src/pexels-itsehsanh-18765298.jpg");    
background-attachment: fixed;
}

.topNav {
    background-color: #f1f1f1;
    height: 4rem;
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: #222;
    box-shadow: #444 0 4px 6px 2px;
    & .topLinks {
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    & a, & button {
        height: 4rem;
        align-content: center;
        text-align: center;
        flex-grow: 1;
        margin: 0 1vw;
        &:hover {
            background-color: #ddd;
            text-decoration: none;
        }
    }
}
.buttonLeftCol {
    display: none;
}
.projects {
    margin: auto;
    display: grid;
    width: 100%;
    grid-template-columns: minmax(240px, 1fr) minmax(400px, 1000px) minmax(0, 1fr);
    & :where(h1, h2, h3, h4, h5, h6) {
        margin-bottom: 1rem;
    }
    & img {
        margin: 0rem auto;
        margin-top: 2rem;
        display: block;
        width: 8rem;
        max-height: 100%;
        max-width: 100%;
        padding: 2px;
        border: 2px solid black;
        transition: 300ms;

            &.largeImg {
                width: 90%;
            }
    }
    & .project {
        position: relative;
        margin-bottom: 2vh;
        padding: 5vh 2vw;
        padding-bottom: 8vh;
        background-color: #fafafadd;
        background-color: #fafafae8;
    }
    & ul {
        list-style: disc;
        margin: 0.5rem 2rem;
    }
    & .leftCol {
        padding: 2dvh 1rem;
        display: flex;
        flex-direction: column;
        &.show {
            display: unset;
            position: sticky;
            width: 40%;
            height: 100vh;
            left: 0;
            top: 4rem;
            background-color: #ddd;
            z-index: 3;
        }
        & .pageTitles {
            position: sticky;
            z-index: 1;
            top: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #000;
            & a {
                width: 90%;
                min-width: 4rem;
                padding: 1rem 0.25rem;
                transition:  200ms;
                &:hover {
                    /* color: orange; */
                    color: orange;
                    text-decoration: none;
                    background-color: #666;
                }
            }
        }
    }
    & .rightCol {
    }
    & .midCol {
        padding: 0 4vw;
        & p {
            text-indent: 2.5rem;
            margin: 0.5rem;
        }
    }
}
.titleMyProjects {
    text-align: center;
    margin-top: 2rem;
    padding: 3rem;
    background-color: #ccce;
}
.contact, .about {
    margin: 10vh auto;
    width: min(95%, 800px);
    background-color: #fafafaee;
    box-shadow: #9b9b9b 0 0 8px 2px;
    padding: 4vh 5vw;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact {
    & span {
        display: inline-block;
        width: 4rem;
        font-weight: 600;
        & + span {
                font-weight: 400;
            }
        }
    }


footer {
    background-color: #eee;
    height: 50vh;
    width: min(98%, 1400ps);
    border-top: #444 2px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footerRight, .footerLeft {
    margin: 0 5vw;
}
.verticalLine {
    background-color: #888;
    width: 2px;
    height: 80%;
    border: none;
}
@media screen and (width < 1600px) {
    .projects {
        grid-template-columns: minmax(240px, 1fr) minmax(400px, 880px) minmax(0, 1fr);
    }
}
@media screen and (width < 1000px) {
    .projects {
        grid-template-columns: 240px auto;
    }
    .projects .rightCol {
        display: none;
    }
    .buttonRightCol {
        display: unset;
    }
}
@media screen and (width < 800px) {
    .projects {
        grid-template-columns: 1fr;
    }
    .projects .leftCol {
        display: none;
    }
    .buttonLeftCol {
        display: unset;
    }
    .heroImage {
        background-position:bottom 55% left 20%;
    }
}
@media screen and (width < 600px) {}